TestFTP/TestFTP/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestWCFProxy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestWCFProxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientData" nillable="true" type="tns:ClientData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientData" nillable="true" type="tns:ArrayOfClientData" />
  <xs:complexType name="ClientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="_value1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_value2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_value3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_value4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_value5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientData" nillable="true" type="tns:ClientData" />
</xs:schema>