TestFTP/TestFTP/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfTestServer/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestWCFProxy" />
  <xs:element name="SubmitNewClientInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestWCFProxy" minOccurs="0" name="clientData" nillable="true" type="q1:ArrayOfClientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitNewClientInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitNewClientInformationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>